.content {
    display: inline-block;
    margin-top: 20px;
    width: calc(100% - 107px);
}

.busca {
  display: inline-block;
  height: 644px;
  width: 230px;
  margin: 0 20px;
  padding: 10px;
  background-color: $white-five;
  box-shadow: 0 2px 4px 0 $black--12;
}

.anuncio {
  background-color: $white-five;
  box-shadow: 0 2px 4px 0 $black--12;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  width: calc(100% - 330px);
}
