<header>
  <div class="logo"></div>
  <h1>SPOTIPPOS - ANÚNCIOS</h1>
</header>

<menu>
  <ul>
    <li>
      <i>Icon</i>
      <span>Anúncios</span>
    </li>
    <li>
      <i>Icon</i>
      <span>Novo anúncio</span>
    </li>    
  </ul>
</menu>

<div class="content">
  <div class="busca">
    <fieldset>
      <span>Filtro</span>
      <div class="form-group">
        <label for="id">ID</label>
        <input type="text" id="id">
      </div>
      <div class="form-group">
        <label for="area">Área</label>
        <input type="text" id="id">
      </div>      
      <hr>
      <div class="form-group">
        <label for="area">Quartos</label>
        <input type="text" id="id">
      </div>
      <div class="form-group">
        <label for="area">Banheiros</label>
        <input type="text" id="id">
      </div>
      <hr>
      <div class="form-group">
        <label>Valor</label>
        <input type="text" id="minimo">
        <input type="text" id="maximo">
      </div>            
    </fieldset>
  </div>
  <div class="anuncio">
    <div class="img">
      <img src="">
      <strong>R$ 595,000</strong>
    </div>
    <div class="content">
      <span>ID. 1234</span>
      <h2>Imóvel código 1234, com 2 quartos e 2 banheiros.</h2>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id est dapibus, finibus lorem sed, fermentum purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque eget dictum metus, vitae facilisis erat. Pellentesque nisi urna, ultricies sit amet magna ac, pulvinar consequat augue. Nunc sit…
      </div>
      <div class="detalhes">
        <ul>
          <li>
            <i>icone</i>
            <span>73m³</span>
          </li>
        </ul>

        <button>Visualizar anúncio</button>
      </div>
    </div>
  </div>
</div>